html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  color: rgb(0, 50, 60);
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  margin: 0 auto;
  max-width: 92%;
  width: 1240px;
}

.logo {
  fill: rgb(0, 50, 60);
  margin: 40px 0;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 30px 0;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

span {
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

a {
    cursor: pointer;
    font-weight: 600;
}

form {
  display: block;
  margin: 0 0 10px 0;
}

form > button {
    margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
button {
  border-radius: 3px;
  display: block;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  height: 45px;
  line-height: 45px;
  outline: 0;
  padding: 0 20px;
}

.new-booking {
    display: inline-block;
    margin-bottom: 30px;
}

input {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
}

.radio {
  align-items: center;
  display: flex;
  padding: 10px 0;
}

.radio > input {
    margin: 0 10px 0 0;
}

.radio > label {
    margin: 0;
}

input[type="radio"] {
  display: inline-block;
  height: 20px;
  width: 20px;
}

input[type="radio"]:checked {
border-color: red;
  }

input:focus {
  border: 1px solid #751659;
}

button {
  background-color: #a01e78;
  border: 1px solid #751659;
  color: white;
  cursor: pointer;
}

.modal {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 50, 60, 0.1);
  padding: 10px;
  position: fixed;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  overflow: auto;
  transition: all 100ms;
  z-index: 2000;
}

.modal > div {
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 50, 60, 0.15);
  border-radius: 3px;
  max-width: 100%;
  padding: 30px;
  position: relative;
  width: 360px;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal-actions {
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.modal-actions > button {
    margin-right: 40px;
}

.list-item {
  border-top: 1px solid #eee;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 10px 0;
}

.list-item > h3 {
  margin-right: 25px;
}

.list-item > span:last-child {
  margin-left: auto;
}

.list-item:last-child {
  border-bottom: 1px solid #eee;
}
